parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @var does not specify variable name\\.$#"
			count: 3
			path: src/Kernel.php

		-
			message: "#^Parameter \\#1 \\$fieldValue of method Fraym\\\\Interface\\\\ElementItem\\:\\:set\\(\\) expects null, mixed given\\.$#"
			count: 1
			path: src/Entity/BaseEntity.php