includes:
	- extension.neon
	- phpstan-baseline.neon
parameters:
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	level: 5
	ignoreErrors:
		- identifier: trait.unused
	paths:
		- skeleton
		- src
		- tests
	excludePaths:
		- src/Vendor/*