includes:
	- phpstan-baseline.neon
parameters:
	dynamicConstantNames:
		- ABSOLUTE_PATH
		- INNER_PATH
		- ACTION
		- ACT
		- KIND
		- CMSVC
		- ID
		- OBJ_TYPE
		- OBJ_ID
		- PAGE
		- SORTING
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	level: 5
	ignoreErrors:
		- identifier: trait.unused
	paths:
		- skeleton
		- src
		- tests
	excludePaths:
		- src/Vendor/*