@import url('/css/components/captcha.min.css');

form#form_register div[id="name_[0]"],
form#form_register div[id="field_go_back_after_save[0]"] {
    display: none;
}

form#form_register div[id="field_regstamp[0]"] img {
    width: 16em;
    height: 100%;
    float: right;
}

div.or_use_social_network_list a {
    display: inline-block;
    margin-right: 1.5em;
}

div.or_use_social_network_list a:last-child {
    margin-right: 0;
}

div.or_use_social_network_list .sbi {
    width: 3em;
    height: auto;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    margin: 0;
}

div.or_use_social_network_list .sbi svg {
    width: 3em;
    height: 3em;
    vertical-align: middle;
}

div.or_use_social_network_list .sbi svg path {
    fill: white;
}

div.or_use_social_network_list .sbi.sbi-vk {
    background-image: url(/design/networks/vk_icon.svg);
}

div.or_use_social_network_list .sbi.sbi-vk path.vk-cls-1 {
    fill: #4b75a2;
}

div.or_use_social_network_list .sbi.sbi-fb {
    background-image: url(/design/networks/fb_icon.svg);
}

div.or_use_social_network_list .sbi.sbi-fb path.fb-cls-1 {
    fill: #3c5b9a;
}