div.mainpage_login {
    width: 35em;
    max-width: 100%;
    margin: auto;
}

div#login_choices div.text,
div#login_remind div.text {
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 1em 0;
    text-align: center;
}

div#login_remind div.text {
    margin-bottom: .5em;
}

div.mainpage_login input {
    margin-bottom: 0;
}

div#login_choices input#login_global {
    background: transparent;
    border-radius: .2em .2em 0 0;
    border-bottom: none;
}

div#login_choices input#pass_global {
    background: transparent;
    border-radius: 0 0 .2em .2em;
}

div#login_choices div.buttons,
div#login_remind div.buttons {
    text-align: center;
    padding-top: 2em;
}

div#login_choices hr {
    border-top: 3px solid #edf0f2;
    margin: 2em 0;
}

div#login_choices div.text2 {
    margin-bottom: 2em;
}

div#login_remind {
    display: none;
}

div#login_remind.shown {
    display: block;
}

div#login_remind input#em_global {
    background: transparent;
    border-radius: .2em;
}

div#login_choices a#btn_remind {
    text-align: right;
    display: block;
    margin-top: .5em;
}

div.or_use_social_network_list a {
    display: inline-block;
    margin-right: 1.5em;
}

div.or_use_social_network_list a:last-child {
    margin-right: 0;
}

div.or_use_social_network_list .sbi {
    width: 3em;
    height: auto;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    margin: 0;
}

div.or_use_social_network_list .sbi svg {
    width: 3em;
    height: 3em;
    vertical-align: middle;
}

div.or_use_social_network_list .sbi svg path {
    fill: white;
}

div.or_use_social_network_list .sbi.sbi-vk {
    background-image: url(/design/networks/vk_icon.svg);
}

div.or_use_social_network_list .sbi.sbi-vk path.vk-cls-1 {
    fill: #4b75a2;
}

div.or_use_social_network_list .sbi.sbi-fb {
    background-image: url(/design/networks/fb_icon.svg);
}

div.or_use_social_network_list .sbi.sbi-fb path.fb-cls-1 {
    fill: #3c5b9a;
}